<div class="card my-5">
  <div class="card-body">
    <h1>Edit Post</h1>

    <%= render 'form', post: @post %>

    <div class="mt-2">
    <div class="btn-group">
        <%= link_to 'Show', @post, class: 'btn' %>
        <%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn' %>
        <%= link_to 'Back', posts_path, class: 'btn' %>
      </div>
    </div>
  </div>
</div>